<div id="mySidenav" class="sidenav">
  <button class = "closeit">Close</button>
  <a href="#">About</a>
  <a href="#">filler</a>
  <a href="#">filler</a>
  <a href="#">filler</a>
</div>

<div id="main">
  <button class = "openit">Open</button>
</div>


<div id ="recent-bookings">
recent bookigns hereeeeeeeeeeeeeeeeeeeeee
<%=@bookings%>
</div>

<div id = "favourite-bookings">
favourite bookigns hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
</div>


<div class = "calendar-wrap">
  <div class="wrapper">
    <table class="simple-calendar">
      <thead>
        <tr>
        <div class="calendar__header">
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>

        </tr>
      </thead>


      <tbody>
        <% @date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <td>
                <%= day %>
                <%@bookings.select{ |b| b.start_day&.to_date == day }.sort_by(&:start_time).each do |booking| %>
                  <img class ="photoMini" src = "<%= cl_image_path(booking.icon.photo.key) %>">
                  <div class = "card">
                    <h3 class = "hello">
                    <div class ="checkthispend <%=booking.status%>">
                      <%= link_to "#{booking.status} Session with #{booking.icon.name} #{booking.start_time.strftime("at %I:%M%p")}", booking%>
                      </h3>
                    </div>
                  </div>
                <%end%>
              </td>
            <%end%>
          <tr>
        <%end%>
      </tbody>
    </table>
    </div>
     <div>
        Key
        <div class = "keycount">
          Accepted = Green
        </div>
        <div class = "keycount2">
          Declined = Red
        </div>
        <div class = "keycount3">
          Pending = Gray
      </div>
    </div>
  </div>
</div>