<div class="new-table-form">
  <div class="border">
    <h1>Booking Confirmed!</h1>
    <p>
        You have a session at <em><%=@booking.table.cafe%>
        at table <%=@booking.table%>
        on <%=@booking.day%>
        starting <%=@booking.start_time.strftime("at %I:%M%p")%>
        finishing <%=@booking.end_time.strftime("at %I:%M%p")%>
        Booking status: <%=@booking.status%></p>
        </em>
        <%=link_to 'Go To Dashboard', dashboard_path, class: "btn btn-primary btn-block"%>
  </div>
</div>