<div class="card-trip">
      <% if @user_cafe.photo.attached? %>
        <img src="<%= cl_image_path @user_cafe.photo.key %>" />
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <% end %>

      <div class="card-trip-infos">
        <div>
          <h2> <%= @user_cafe.name %></h2>
          <p> <%= @user_cafe.location %></p>
        </div>
        <h2 class="card-trip-pricing">Minimim credits applied: <%=@user_cafe_credits  %></h2>
      </div>
    </div>

<div data-controller="tabsdash">

  <div class=cafe-tabs>
    <ul class="list-inline tabs-underlined">
      <li>
        <div data-action="click->tabsdash#bookingstab" class="tab-underlined" data-tabsdash-target="tabbook">Bookings</div>
      </li>
      <li>
        <div data-action="click->tabsdash#tablestab" class="tab-underlined" data-tabsdash-target="tabtables">Tables</div>
      </li>
      <li>
        <div data-action="click->tabsdash#reviewstab" class="tab-underlined" data-tabsdash-target="tabreviews">Reviews</div>
      </li>
      <li>
        <div data-action="click->tabsdash#transactionstab" class="tab-underlined" data-tabsdash-target="tabtransactions">Transactions</div>
      </li>
    </ul>
 </div>



<!-- CAFE_BOOKINGS TAB -->

<div data-tabsdash-target="cafebookings" class = "calendar-js" data-controller="calendar">
  <div id = "calendar" data-calendar-target="element" data-bookings="<%= @bookings.to_json%>">

  </div>
</div>



<!-- CAFE_TABLES TAB -->


<div data-tabsdash-target="cafetables">
  <% @tables.each do |table| %>
  <h5><%= table.name %></h5>
      <p> <strong>Number of Spots: </strong> <%= table.spots %>
          <strong>Type of Seats: </strong> <%= table.seat %>
          <strong>Minimum Credits: </strong><%= table.min_credits %>

       </p>

      <p><%= link_to "Edit Table", edit_cafe_table_path(table.cafe_id, table), remote:true %></p>
      <p> <%= link_to "Delete Table", [table.cafe, table], method: :delete, remote:true %></p>

  <% end %>

<p><%= link_to "Add a new table", new_cafe_table_path(@user_cafe), remote:true %></p>
</div>




  <div data-tabsdash-target="cafereviews">

    <% @reviews.each do |rev| %>
      <ul>
        <li>
          <% rev.rating.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </li>
      <div>
          <li>
            <%= rev.content %>
          </li>
      </div>
      </ul>
  <% end %>

  </div>


<div data-tabsdash-target="cafetransactions">
<h2>Current Balance: <%= @user_cafe.owed_money%>€ (paid at month end)</h2>
<p>(paid at month end)</p>

</div>

</div>
