<h1>Add a new cafe</h1>

<%= simple_form_for(@cafe) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
    </div>
    <div class="form-actions cols-m-6 align-self-center">
      <%= f.submit "Create Cafe", class:"btn btn-primary btn-block" %>
    </div>
    <% end %>

