

<!-- NEW CODE ABOVE WORKING CODE BELOW ABOVE CODE INPUTTED IN BOOKING SHOW-->

<!--KEEP BELOW CODE FOR CAFE DAHSBOARD-->

  <div class="card-trip">
    <% if @cafe.photo.attached? %>
      <img src="<%= cl_image_path @cafe.photo.key %>" />
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <% end %>

    <div class="card-trip-infos">
      <div>
        <h2> <%= @cafe.name %></h2>
        <p> <%= @cafe.location %></p>
      </div>
      <h2 class="card-trip-pricing">Minimim credits applied: <%=@cafe_credits  %></h2>
    </div>
  </div>


  <div data-controller="tabsshow">

    <div class="cafe-tabs">
        <ul class="list-inline tabs-underlined">
          <li>
            <div class="tab-underlined" data-action="click->tabsshow#bookings" data-tabsshow-target="booktab">Book your spot</div>
          </li>
          <li>
            <div class="tab-underlined" data-action="click->tabsshow#menu" data-tabsshow-target="menutab">Menu</div>
          </li>
          <li>
            <div class="tab-underlined" data-action="click->tabsshow#reviews"data-tabsshow-target="reviewtab"> Nomad Reviews</div>
          </li>
        </ul>
     </div>

  <div class="show-bookspot" data-tabsshow-target="bookspot">
    <% @tables.each do |table| %>
      <h5><%= table.name %></h5>
        <p> <strong>Number of Spots: </strong> <%= table.spots %>
            <strong>Type of Seats: </strong> <%= table.seat %>
            <strong>Minimum Credits: </strong><%= table.min_credits %>
         </p>
    <% end %>
    <p><%= link_to "Back to all cafes", cafes_path, remote:true  %></p>
  </div>


  <div data-tabsshow-target="showmenu">
    <h1>Input Menu Here</h1>
  </div>



  <div data-tabsshow-target="seereviews">
    <div class= "container py-5">
      <% @user_reviews.each do |review| %>
      <ul>
        <li>
          <% review.rating.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </li>
        <div>
            <li>
              <%= review.content %>
            </li>
        </div>
      </ul>
        <div class="link">
          <% if review.booking.user == current_user %>
            <%= link_to 'Delete', review_path(review), method: :delete, remote:true  %>
          <% end %>
        </div>
      <% end -%>

      <% @other_reviews.each do |review| %>
      <ul>
        <li>
          <% review.rating.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </li>
        <div>
            <li>
              <%= review.content %>
            </li>
        </div>
      </ul>
        <div class="link">
          <% if review.booking.user == current_user %>
            <%= link_to 'Delete', review_path(review), method: :delete, remote:true  %>
          <% end %>
        </div>
      <% end -%>
    </div>
  </div>
</div>

