

<!-- NEW CODE ABOVE WORKING CODE BELOW ABOVE CODE INPUTTED IN BOOKING SHOW-->

<!--KEEP BELOW CODE FOR CAFE DAHSBOARD-->

  <div class="card-trip">
    <% if @cafe.photo.attached? %>
      <img src="<%= cl_image_path @cafe.photo.key %>" />
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <% end %>

    <div class="card-trip-infos">
      <div>
        <h2> <%= @cafe.name %></h2>
        <p> <%= @cafe.location %></p>
      </div>
      <h2 class="card-trip-pricing">Minimim credits applied: <%=@cafe_credits  %></h2>
    </div>
  </div>


  <% @tables.each do |table| %>
  <h5><%= table.name %></h5>
      <p> <strong>Number of Spots: </strong> <%= table.spots %>
          <strong>Type of Seats: </strong> <%= table.seat %>
          <strong>Minimum Credits: </strong><%= table.min_credits %>
          <%= link_to "Edit Table", edit_cafe_table_path([table.cafe, table])  %>
          <%= link_to "Delete Table", [table.cafe, table], method: :delete %>
       </p>

  <% end %>


<p><%= link_to "Add a new table", new_cafe_table_path(@cafe) %></p>
<p><%= link_to "Back to all cafes", cafes_path  %></p>



