

<!-- NEW CODE ABOVE WORKING CODE BELOW ABOVE CODE INPUTTED IN BOOKING SHOW-->

<!--KEEP BELOW CODE FOR CAFE DAHSBOARD-->

  <div class="card-trip">
    <% if @cafe.photo.attached? %>
      <img src="<%= cl_image_path @cafe.photo.key %>" />
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <% end %>

    <div class="card-trip-infos">
      <div>
        <h2> <%= @cafe.name %></h2>
        <p> <%= @cafe.location %></p>
      </div>
      <h2 class="card-trip-pricing">Minimim credits applied: <%=@cafe_credits  %></h2>
    </div>
  </div>


  <div class="1223cafe-tabs">
      <ul class="list-inline tabs-underlined">
        <li>
          <div class="tab-underlined active showpage-book-spot-tab">Book your spot!</div>
        </li>
        <li>
          <div id="showpage-menu-tab" class="tab-underlined">Menu</div>
        </li>
        <li>
          <div class="tab-underlined showpage-reviews-tab"> Nomad Reviews</div>
        </li>
      </ul>
   </div>


<div class="showpage-nomad-book-tables">

  <% @tables.each do |table| %>
    <h5><%= table.name %></h5>
      <p> <strong>Number of Spots: </strong> <%= table.spots %>
          <strong>Type of Seats: </strong> <%= table.seat %>
          <strong>Minimum Credits: </strong><%= table.min_credits %>
       </p>

  <% end %>

<p><%= link_to "Back to all cafes", cafes_path  %></p>

</div>


<div class="showpage-nomad-reviews" class="ninja">
  <div class= "container py-5">

    <% @cafe.reviews.each do |review| %>
    <ul>
      <li>
        <% review.rating.times do %>
        <i class="fas fa-star"></i>
        <% end %>
      </li>
      <div>
          <li>
            <%= review.content %>
          </li>
      </div>
    </ul>
      <div class="link">
        <% if review.booking.user == current_user %>
          <%= link_to 'Delete', review_path(review), method: :delete  %>
        <% end %>
      </div>
    <% end -%>
  </div>
</div>


