<h1>Add a Table</h1>

<%= simple_form_for ([@cafe, @table]) do |f| %>
<%= f.input :name, label: "Descriptive Title" %>
<%= f.input :spots, collection: (1..20).to_a, label: "Number of spots" %>
<%= f.input :min_credits %>
<%= f.input :seat, collection: Table::SEAT, label: "Type of seat" %>
<%= f.submit "Add this table", class:"btn btn-primary btn-block" %>
<% end %>

